# Monorepo ignore
node_modules/
dist/
build/
.env
**/.env
**/.env.local
**/.env.production
*.local
.DS_Store
*.dex
*.apk
*.ipa

# Subproject ignores
**/node_modules/
**/dist/
**/build/
mobile/android/app/build/
mobile/android/capacitor/build/
mobile/ios/App/build/
